html {
	background: url(../img/sky.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}

ul {
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #1C1B1C;
}

h5, h2 {
	text-transform: uppercase;
}
h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 81.3%;
	letter-spacing: 3px;
	color: #1C1B1C;
}

h2 {
	font-family: 'Unica One', sans-serif;
	color: #fff;
	font-size: 156%;
}

h4 {
	font-family: 'Dosis', sans-serif;
	color: #fff;
	font-size: 106.3%;
}

.container {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30%;
	margin-top: 6%;
}

.container a {
	color: #1C1B1C;
}

.container a:hover {
	color: #fff;
}

#nav-menu {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 87.5%;
	position: fixed;
	top: 0px;
	z-index: 1;
}

#nav-menu li {
	float: left;
	margin-right: 9px;
}

.social {
	text-align: center;
}

.social a {
	padding: 5px;
}

#particles-js {
	position: absolute;
	height: 100%;
	width: 100%;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	.container {
		width: 50%;
	}
	h2 {
		font-size: 310%;
	}

	h5 {
		font-size: 190%;
	}

	h4 {
		font-size: 220%;
	}

	#nav-menu {
		font-size: 200%;
	}
}